<section class="experts">
    <div class="heading experts__heading">
        <h3 class="heading__subtitle">What the</h3>
        <h2 class="heading__title">Experts say</h2>
        <div class="heading__line"></div>
    </div>
    <div class="experts__wrapper">
        <div class="experts__teaser">
            <a href="#" class="experts__link">
                <div class="experts__container">
                    <div class="experts__media">
                        <img src="./assets/img/expert-man.png" alt="Man" class="experts__image">
                    </div>
                    <div class="experts__text">
                        <p class="experts__quote">
                            “As a surfer and health professional I am concerned about the amount of
                            plastic we encounter every day in the water and on the beach. Substantial
                            past and emerging research are pointing at its wide impact potential on
                            human health.”
                        </p>
                        <div class="experts__info">
                            <h4 class="experts__status">SURFING MEDICINE INTERNATIONAL</h4>
                            <h5 class="experts__name">Dr Ognjen Markovic</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>


        <div class="experts__teaser">
            <a href="#" class="experts__link">
                <div class="experts__container">
                    <div class="experts__media">
                        <img src="./assets/img/expert-older-man.png" alt="Man" class="experts__image experts__image--old">
                    </div>
                    <div class="experts__text">
                        <p class="experts__quote">
                            “We do not even have methods to detect the very tiny plastic particles in
                            foods, air or our body. I urge policymakers, industry and funders to take
                            this issue seriously.”
                        </p>
                        <div class="experts__info">
                            <h4 class="experts__status">VU University</h4>
                            <h5 class="experts__name">Professor Dick Vethaak</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="experts__teaser">
            <a href="#" class="experts__link">
                <div class="experts__container">
                    <div class="experts__media">
                        <img src="./assets/img/expert-woman.png" alt="Man" class="experts__image experts__image--woman">
                    </div>
                    <div class="experts__text">
                        <p class="experts__quote">
                            “Plastics are petroleum-based, inherently toxic materials that adsorb toxic
                            organic pollutants in the water and impair reproduction in marine organisms.”
                        </p>
                        <div class="experts__info">
                            <h4 class="experts__status">Environmental Health Scientist Professor of Public Health</h4>
                            <h5 class="experts__name">Dr Susan Shaw</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>