<header class="header">
    <div class="header__container">
        <div class="header__wrapper">
            <div class="header__heading" id="header__heading">
                <h1 class="header__title">Plastic can cause birth defects</h1>
                <div class="header__line"></div>
            </div>
            <form action="#" class="form header__form">
                <input class="form__input" name="email" placeholder="Your E-mail address">
                <button class="button form__button">
                    <span class="button__text">Start your plastic diet</span>
                </button>
            </form>
        </div>
    </div>
</header>
