<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="./assets/css/layout.css"/>
<script src="./assets/js/head.js"></script>

<title>ThisPage - Start Plastic Diet</title>

<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="meta-tags generator">
<meta name="robots" content="index, follow" />
<meta name="revisit-after" content="3 month" />
<meta property="og:title" content="">
<meta property="og:site_name" content="">
<meta property="og:url" content="http://.com">
<meta property="og:description" content="">
<meta property="og:type" content="business.business">

<link rel="apple-touch-icon-precomposed" sizes="152x152" href="./assets/favicons/apple-touch-icon-152x152.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="./assets/favicons/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76"   href="./assets/favicons/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60"   href="./assets/favicons/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="./assets/favicons/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="./assets/favicons/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72"   href="./assets/favicons/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon"             sizes="57x57"   href="./assets/favicons/apple-touch-icon-57x57.png" />

<link rel="icon" sizes="228x228" href="./assets/favicons/coast-228x228.png" />
<link rel="shortcut icon" href="./assets/favicons/favicon.ico?v=678999" />

<link rel="icon" type="image/png" sizes="16x16"   href="./assets/favicons/favicon-16x16.png" />
<link rel="icon" type="image/png" sizes="32x32"   href="./assets/favicons/favicon-32x32.png" />
