<nav class="logos">
    <a href="/" class="logos__link">
        <img src="./assets/img/plastic-diet.png" alt="logo" class="logos__diet">
    </a>
    <a href="/" class="logos__link">
        <img src="./assets/img/plastic-soup-white.png" alt="logo" class="logos__soup">
    </a>
</nav>