{% import '../macros/icon.twig' as icons %}

<section class="top3">
    <div class="top3__container">
        <div class="heading top3__heading">
            <h3 class="heading__subtitle">Top 3</h3>
            <h2 class="heading__title">plastic diet tips</h2>
            <div class="heading__line"></div>
        </div>
        <article class="top3__article">
            <div class="top3__circle">
                {{ icons.icon('bottle', 'top3__bottle') }}
            </div>
            <div class="top3__content">
                <h4 class="top3__title">Think Plastic Diet</h4>
                <p class="top3__paragraph">
                    Sounds simple and it is! Just by thinking about
                    your plastic diet once a day will make you more
                    aware. Can you cut down on plastic in your weekly
                    shopping? Can you reduce plastic use in your home?
                    Can you persuade a friend to go on a plastic diet?
                </p>
            </div>
        </article>
        <article class="top3__article">
            <div class="top3__circle">
                {{ icons.icon('cup', 'top3__cup') }}
            </div>
            <div class="top3__content">
                <h4 class="top3__title">Bring your own coffee cup to the coffee shop</h4>
                <p class="top3__paragraph">
                    Millions of coffee cups lined with plastic end up
                    in our rivers and oceans every day. Just by using
                    your own coffee cup you can stop this immediately.
                    Look online and you will find some very cool
                    sustainable coffee cups/containers.
                </p>
            </div>
        </article>
        <article class="top3__article">
            <div class="top3__circle">
                {{ icons.icon('gum', 'top3__gum') }}
            </div>
            <div class="top3__content">
                <h4 class="top3__title">Give up chewing gum</h4>
                <p class="top3__paragraph">
                    Ever wondered why you can chew and chew and chew
                    gum? You might not like the answer. Most chewing
                    gums contain petroleum, polyvinyl acetate,
                    polyethylene or latex. In other words: plastic.
                    <br/>
                    <br/>
                    Polyvinyl acetate is manufactured using vinyl
                    acetate, a chemical shown to cause tumours in lab
                    rats. Yet, gum manufacturers only have to say
                    ‘gum based’. There is no law forcing them to
                    reveal potentially poisonous plastic ingredients.
                </p>
            </div>
        </article>
    </div>
    <div class="top3__paper-quote">
        <p class="top3__quote">
            Use paper instead of plastic bags
        </p>
        <img src="/assets/img/arrow.png" alt="arrow" class="top3__arrow">
        <img src="/assets/img/fruit.png" alt="paper bag" class="top3__image">
    </div>
</section>