<section class="what">
    <div class="what__media">
        <img src="" alt="" class="what__image">
    </div>
    <article class="what__article">
        <div class="heading what__heading">
            <h3 class="heading__subtitle what__subtitle">What is</h3>
            <h2 class="heading__title what__title">the plastic diet?</h2>
            <div class="heading__line what__line"></div>
        </div>
        <div class="what__content">
            <h4 class="what__intro">
                Plastic can cause cancer, heart disease and birth defects.
            </h4>
            <p class="what__paragraph">
                We all consume too much plastic. Literally. There is
                plastic in the food we eat, the water we drink and
                even the air we breathe. Unfortunately, what most
                people don’t realise is that when plastic enters our
                body it can make us sick. The chemicals in plastic and
                plastic particles can cause cancer, heart disease,
                Alzheimer’s, dementia, Parkinson’s, arthritis, impotency
                and even harm babies in the womb.
            </p>
        </div>
        <div class="what__content">
            <h4 class="what__intro">
                Start your plastic diet!
            </h4>
            <p class="what__paragraph">
                However, the situation isn’t hopeless. We can do something.
                You can do something. Today. Start your plastic diet.
                Think about all the plastic you use and try to use a
                little less. Cut down on plastic bags. Stop using plastic
                straws. Bring your own thermos to the local takeaway coffee
                shop. Every little bit less plastic helps. Even if you use
                just one less plastic bag a week, imagine if millions of
                other people do the same…
            </p>
        </div>
    </article>
</section>