@import '../mixins/typography';

.button {
    background: $c-prim;
    padding: 10px 2rem;
    border-radius: 30px;
    text-align: center;
    transition: background .25s, color .25s;
    width: 100%;

    // hover with cool animation

    &__text {
        @include style-regular;
        color: $c-white;
        font-size: 1.25rem;
    }
}
