@import '../mixins/typography';

.button {
    background: $c-prim;
    padding: 10px 2rem;
    border-radius: 30px;
    text-align: center;
    transition: background .25s;
    width: 100%;

    &:hover {
        background: $c-second;

        .button__text {
            color: $c-ocean;
        }
    }

    &__text {
        @include style-regular;
        color: $c-white;
        font-size: 1.25rem;
        transition: color .25s;
    }
}
