@import "../mixins/typography";

.heading {
    text-align: center;

    &__line {
        background: $c-prim;
        border-radius: 2.5px;
        height: 5px;
        margin: 0 auto;
        width: 78px;
    }

    @include screen($screen-simple) {
        &__title {
            font-size: 2.75rem;
        }
    }
}