@import '../mixins/typography';
@import '../mixins/container';

.header {
    display: block;
    position: relative;
    background: url('../img/background-mobile.png') center center no-repeat $c-ocean;
    background-size: cover;
    margin: 0 0 170px;
    height: 450px;

    &__wrapper {
        @include container;
        background: $c-ocean;
        bottom: 0;
        height: 190px;
        transform: translateY(calc(100% - 30px));
        position: absolute;
        width: 100%;
    }

    &__heading {
        position: relative;
        top: -50px;
    }

    &__title {
        @include style-heading;
        color: $c-white;
        position: relative;
        width: 290px;
    }

    &__line {
        background: $c-prim;
        border-radius: 5px;
        height: 10px;
        width: 207px;
    }

    @include screen($screen-minimal) {
        background: url('../img/background.png') top center no-repeat $c-ocean;
        background-size: contain;
        margin: 0;
        height: 620px;

        &__wrapper {
            background: transparent;
            height: auto;
            transform: translateY(0);
        }
    }

    @include screen($screen-simple) {
        margin: 0 0 2.25rem;

        &__heading {
            top: -60px;
        }

        &__title {
            width: 60%;
        }

        &__line {
            width: 290px;
        }
    }

    @include screen($screen-normal) {
        &__title {
            margin: 0 0 1rem;
        }
    }
}
