@import '../mixins/typography';
@import '../mixins/container';

.header {
    background: $c-grey;

    &__container {
        background: url('../img/background-mobile.png') center center no-repeat $c-ocean;
        background-size: cover;
        display: block;
        height: 450px;
        margin: 0 auto 170px;
        max-width: $screen-xlarge;
        position: relative;
    }

    &__wrapper {
        @include container;
        background: $c-ocean;
        bottom: 0;
        height: 190px;
        position: absolute;
        transform: translateY(calc(100% - 30px));
        width: 100%;
    }

    &__heading {
        opacity: 0;
        position: relative;
        top: -50px;
        transform: translateY(-30px);
        transition: opacity .25s 1s, transform .25s 1s;

        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__title {
        @include style-heading;
        color: $c-white;
        position: relative;
        width: 290px;
    }

    &__line {
        background: $c-prim;
        border-radius: 5px;
        height: 10px;
        width: 207px;
    }

    @include screen($screen-minimal) {
        &__container {
            background: url('../img/background.png') top center no-repeat $c-ocean;
            background-size: contain;
            height: 620px;
            margin: 0 auto;
        }

        &__wrapper {
            background: transparent;
            height: auto;
            transform: translateY(0);
        }
    }

    @include screen($screen-simple) {
        &__heading {
            top: -60px;
        }

        &__title {
            width: 60%;
        }

        &__line {
            width: 290px;
        }
    }

    @include screen($screen-normal) {
        &__container {
            background: url('../img/background.png') center center no-repeat $c-ocean;
            background-size: cover;
        }

        &__wrapper {
            padding: 0 7.375rem;
            top: 50%;
            transform: translateY(calc(-50% + 1rem));
        }

        &__heading {
            margin: 0 0 3.25rem;
            top: auto;
        }

        &__title {
            margin: 0;
            width: 600px;
        }

        &__line {
            width: 445px;
        }
    }
}
