@import "../mixins/container";

.logos {
    left: 50%;
    margin: 0 auto;
    max-width: $screen-xlarge;
    position: absolute;
    top: .8rem;
    transform: translateX(-50%);
    width: 100%;
    z-index: 99;

    &__link {

    }

    &__diet {
        height: auto;
        left: 10px;
        position: absolute;
        width: 170px;
    }

    &__soup {
        height: 37px;
        position: absolute;
        right: 1rem;
        width: auto;
    }

    @include screen($screen-simple) {
        padding: 0 2rem 0 2.75rem;
        top: 2.125rem;
    }

    @include screen($screen-normal) {
        &__soup {
            right: 1.5rem;
        }

        &__diet {
            left: 2.75rem;
        }
    }
}