@import "../mixins/container";

.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0 1rem;
    position: absolute;
    top: .8rem;
    width: 100%;
    z-index: 99;

    &__link {

    }

    &__diet {
        height: auto;
        width: 170px;
    }

    &__soup {
        height: 37px;
        width: auto;
    }

    @include screen($screen-simple) {
        top: 2.125rem;
        padding: 0 2rem 0 2.75rem;
    }
}