@import '../mixins/typography';
@import '../mixins/section';

.what {
    @include section;

    &__heading {
        margin: 0 0 1.5rem;
    }

    &__media {
        display: none;
    }

    &__content {
        margin: 0 0 3.25rem;

        &:last-child {
            margin: 0;
        }
    }

    &__intro {
        margin: 0 0 1rem;
    }

    @include screen($screen-simple) {
        padding: 2.25rem 2.75rem;
    }
}