@import '../mixins/typography';
@import '../mixins/section';

.what {
    @include section;
    position: relative;

    &__heading {
        margin: 0 auto 1.5rem;
    }

    &__media {
        display: none;
    }

    &__content {
        margin: 0 0 3.25rem;

        &:last-child {
            margin: 0;
        }
    }

    &__intro {
        margin: 0 0 1rem;
    }

    @include screen($screen-simple) {
        padding: 2.25rem 2.75rem;
    }

    @include screen($screen-normal) {
        padding: 4.5rem 2.75rem;

        &__article {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }

        &__media {
            display: inline-block;
            max-height: 633px;
            max-width: initial;
            position: absolute;
            left: 0;
            top: 75px;
            z-index: 1;
        }

        &__wrapper {
            max-width: 570px;
            align-content: flex-end;
        }

        &__content {
            display: inline-block;
        }
    }

    @include screen($screen-normal-plus) {
        &__wrapper {
            max-width: 700px;
            align-content: flex-end;
        }
    }
}